<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.png" , height: '300', width: '200' %>
	</div>

	<div id="content">
		<h2>Hey, I'm Sravika</h2>
		<p>Welcome to my Profile page.</p>
		<p>This is Sravika Paluru. I am currently pursuing graduation degree( Information Technology ) from Sastra Deemed University. </p>
		<p>I am from Thatiparthi in Nellore district, Andhra Pradesh</p><br><br><br>
		<p class="header"><strong>Hobbies</strong></p>
		<p>Drawing and Painting.</p>
		<p class="header"><strong>Education</strong></p>
<p>Sastra Deemed University<br />
<strong>Pursuing Information Technology, </strong>4 semesters completed</p>
<p>Intermediate<br />
<strong>Completed Intermediate from Andhra Intermediate board, </strong>got 98.9%</p>
		
	</div>
</div>