<div class="jumbotron">
  <h1 class="display-4">Welcome to Sravika Profile</h1>
  <p class="lead">This page gives details about me and introduces about me to the world</p>
  <hr class="my-4">
  <p>You can see and know more about me. You can see my resume and you can see my Blog. Yayyyy</p>
  
</div>