<div class="jumbotron">
  <h1 class="display-2">Welcome to Sravika Profile</h1>
  <p class="lead" style="color:Orange">This page gives details about me and introduces about me to the world</p>
  <hr class="my-4">
  <p  style="color:green"><b>You can see and know more about me. This website has my blog and also i have given a contact form to reach out to me with a message and that message will be received in my inbox. Please provide your name and email so that i can reach you.</b> </p>
  <p style="color:green">Feel free to read my blog and provide comments. You can find my resume also in this space.</p>
  
</div>